<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <title>158</title>
</head>

<body>

<div id="footer">
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Unsupervised WSD</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href=".{{ url_for('.index') }}">Text Disambiguation</a></li>
      <li><a href=".{{ url_for('.word_senses') }}">Word Senses</a></li>
    </ul>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://github.com/uhh-lt/158">Github</a></li>
      <li><a href="http://ltdata1.informatik.uni-hamburg.de/158/">Inventories</a></li>
      <li><a href="">Paper</a></li>
    </ul>
  </div>
</footer>
</div>


<div id="content">

{% block content %}{% endblock %}

</div>

<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/base-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-responsive-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/forms-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/buttons-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/menus-min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

{% assets "scss_all" %}
  <link rel="stylesheet" property="stylesheet" type="text/css" media="all" href=".{{ ASSET_URL }}">
{% endassets %}

</body>
</html>
