<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <title>158</title>
</head>

<body>

<div id="content">

<nav id="menu" class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><h1>Unsupervised WSD</h1></li>
    <li class="pure-menu-item"><a href="{{ url_for('.index') }}">Main Page</a></li>
    <li class="pure-menu-item"><a href="{{ url_for('.word_senses') }}">Word Senses</a></li>
  </ul>
</nav>

{% block content %}{% endblock %}

</div>

<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/base-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-responsive-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/forms-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/buttons-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/menus-min.css">

{% assets "scss_all" %}
  <link rel="stylesheet" property="stylesheet" type="text/css" media="all" href=".{{ ASSET_URL }}">
{% endassets %}

</body>
</html>
