{% extends "layout.html" %}
{% block content %}

<h2>Word Senses</h2>

<br>

<form id="form_2" class="pure-g pure-form" method="POST" action=".{{ url_for('.senses') }}" onsubmit="validate()">
    <div id="senses_input" class="pure-u-1 pure-u-lg-2-3">
        <fieldset class="pure-group">
          <textarea id="word" class="pure-input-1" rows="10" name="word" placeholder="Bank"></textarea>
        </fieldset>
    </div>

    <div class="pure-u-1 pure-u-lg-1-3">
    <aside id="actions">
      <p><label for="word">Put your word and press the button below.</label></p>
      <select id="selected_language" name="selected_language">
          {% for language in langs_dict %}
            {% if language[0] == "English" %}
                <option selected value="{{ language[1] }}">{{ language[0] }}</option>
            {% else %}
                <option value="{{ language[1] }}">{{ language[0] }}</option>
            {% endif %}
          {% endfor %}
      </select>

      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Submit</button>
    </aside>
    </div>
</form>

<script>
  function validate() {
    if (document.forms["form_2"]["word"].value.trim() == "") {
      document.forms["form_2"]["word"].value = document.forms["form_2"]["word"].placeholder;
    }
}
</script>
{% endblock %}
