// https://color.adobe.com/ru/Winter-Road-color-theme-1507177/

body {
  font-size: 100%;
  line-height: 1.5;
  background-color: white;
}

#content {
  margin: 0 auto;
  max-width: 64em;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  color: #1B1D26;
}

.pure-g {
  font-family: inherit;
}

.pure-g [class*=pure-u] {
  font-family: inherit;
}

@media screen and (min-width: 64em) {
  #menu {
    margin: 4em 0 2em;
  }

  #actions {
    padding-left: 1em;
  }
}

#input textarea {
  border: 1px #778C7A solid;
  background-color: #FFF;
  min-height: 4em;
  height: 100%;
  resize: vertical;
}

#actions select {
  border: 1px #778C7A solid;
  background-color: #FFF;
}

#wsd {
  border: 1px #778C7A solid;
  background-color: #FFF;
  min-height: 10em;
  height: 100%;
}

.wsd {
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed;

  .wsd-details {
    visibility: hidden;

    font-size: 85%;

    width: 24em;
    top: 100%;
    left: 50%;

    background-color: black;
    color: #FFF;
    text-align: left;
    padding: .5em;
    border-radius: .5em;

    position: absolute;
    z-index: 1;
    user-select: none;

    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -.5em;
      border-width: .5em;
      border-style: solid;
      border-color: transparent transparent transparent transparent;
    }
  }

  &:hover .wsd-details {
    visibility: visible;
  }
}
